<div class="register-container">
  <div class="content">
    <section>
      <img src="../../../assets/logo.svg" alt="Be The Hero" />
      <h1>Cadastro</h1>
      <p>Faça seu cadastro, entre na plataforma e ajude pessoas a encontrarem os casos da sua ONG.</p>
      <a [routerLink]="['/']"  class="back-link">
        <i class="fa fa-arrow-left"></i>
        Não tenho cadastro
      </a>
    </section>
    <form>
      <input placeholder="Nome da ONG" />
      <input type="email" placeholder="E-mail" />
      <input placeholder="WhatsApp" />
      <div class="input-group">
        <input placeholder="cidade" />
        <input placeholder="uf" style="width: 80px;" />
      </div>
      <button class="button">Cadastrar</button>
    </form>

  </div>
</div>
